body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.truchet {
	width: 5vw;
	height: 5vw;
	display: block;
	float: left;
	
	background-size: cover;
}

.animating {
	transition: 1.0s linear;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}